body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.default-btn {
  background-color: #fcf2e8 !important;
  color: #ff7a45 !important;
  // border-color: #ff7a45 !important;

  &:hover {
    background-color: #fcf2e8 !important;
    color: #ff7a45 !important;
    // border-color: #ff7a45 !important;
  }
}
